@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

:root {
    --primary-color: #40a44a;
    --primary-color-light: #4daa69;
    --primary-color-dark: #248b2b;
    --secondary-color: #666777;
    --white-color: #fff;
    --black-color: #000;
}

.navbar{
    background-color: #fff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-weight: 500;
    color: var(--primary-color);
    font-size: 24px;
    transition: 0.3s color;
}

body {
    background-image: url("/static/images/universitatea.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.login-button{
    background-color: var(--primary-color);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar-height-placeholder {
    height: 100px;
    width: 100vw;
}

.login-button:hover {
    background-color: var(--primary-color-dark);
    color: white;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.border{
    border: 5px solid grey;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--primary-color);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        visibility: visible;
        width: 100%;
    }
}



